@import "./normalize.css";

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.master {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #0a1527 0%, #0b5ed1 100%);
}

.nav {
  padding: 40px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav__icon {
  width: 190px;
  height: 27px;
  flex-shrink: 0;
}

.nav__center {
  width: 491px;
  height: 25px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav__right {
  width: 139px;
  height: 27px;
  flex-shrink: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;
  color: #fff;

  transition: 0.2s linear color;
}

.nav__link.active {
  position: relative;
  color: #f88419;
}

.nav__link.active:hover {
  color: #f88419;
}

.nav__link.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: #f88419;
}

.nav__link:hover {
  color: #ccc;
}

.promotion__inner {
  padding: 100px 0 60px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.wrapper__left {
  width: 49%;
}

.wrapper__right {
  width: 49%;
}

.promotion {
  overflow: hidden;
}

.promotion h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.promotion h3 {
  color: #dcdcdc;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.promotion__btn {
  padding: 18px 47px;
  background-color: #f88419;
  border-radius: 4px;

  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: 0.1s linear;

  cursor: pointer;
}

.promotion__btn:hover {
  background-color: #c05d00;
}

.promotion img {
  position: absolute;
  width: 900px;
  height: 522px;
  flex-shrink: 0;
  transform: scale(-1, 1);
  object-fit: cover;
}

.gsx__stick {
  left: 500px;
  top: -60px;

  position: relative;
  content: "";
  background-color: #fff;
  width: 5px;
  height: 240px;
}

.gsx__buy {
  position: relative;
  left: 540px;
  top: -270px;

  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: 0.1s linear color;
}

.gsx__buy:hover {
  color: #ccc;
}

.gsx__price {
  position: relative;
  left: 540px;
  top: -240px;

  color: #f88419;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gsx__name {
  position: relative;
  left: 300px;
  top: -500px;

  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gsx__subname {
  position: relative;
  left: 300px;
  top: -520px;

  color: #dcdcdc;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.advertisment {
  width: 100%;
  height: 549px;
  background: #ffffff;
}

.advertisment__inner {
  padding: 64px 0;
}

.advertisment h1 {
  padding: 48px 0 44px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
  width: 387px;
}

.advertisment__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 24px 48px;
}

.advertisment__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 30px;
  width: 160px;
}

.advertisment p {
  color: #0a1b2d;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.advertisment i {
  color: #f88419;
}

.advertisment__img {
  width: 590px;
  height: 421px;
}

.yourstyle {
  height: 608px;

  background-color: rgba(240, 240, 240, 0.725);
}

.yourstyle__inner {
  padding: 80px 0;
  text-align: center;
}

.yourstyle h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
}

.yourstyle__wrapper {
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.yourstyle__item {
  width: 285px;
}

.yourstyle__item img {
  width: 285px;
  height: 307px;
  object-fit: cover;

  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s linear;
  z-index: 1;
}

.yourstyle__item:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

.yourstyle__item a {
  padding-top: 20px;
  margin: 0;
  z-index: 2;
  text-decoration: none;

  color: #0a1b2d;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

  transition: 0.1s linear;
}

.yourstyle__item:hover a {
  color: #898989;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 455px;
}
.footer__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  
}
.footer__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 250px;
  
}
.footer__inner {
  padding-top: 115px;
}
.footer h4 {
  width: 174px;
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: #ffffff;
}
.footer__link{
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #f88419;
  width: 160px;
  text-decoration: none;
  cursor: pointer;
}