@import "./normalize.css";

* {
  font-family: "Open Sans", sans-serif;
}

.master-bg {
  background: linear-gradient(to bottom, #0a1527 0%, #0b5ed1 100%);
}

.pbt-100 {
  padding: 100px 0;
}

.mr-3rem {
  margin-right: 3rem;
}

.p18-p47 {
  padding: 18px 47px;
}

.fs-4rem {
  font-size: 4rem;
}

.w-40 {
  width: 40%;
}

@media screen and (width < 900px) {
  .fs-4rem {
    font-size: 2.5rem;
  }
}

.color-dc {
  color: #dcdcdc;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.pt-7rem {
  padding-top: 7rem;
}

.orange-color {
  background-color: #f88419;
}

.orange-text {
  color: #f88419;
}

#shownow:hover {
  background-color: #c05d00;
}

.gsx {
  width: 100%;
  transform: scale(-1, 1);
  object-fit: cover;
}

.py-64px {
  padding: 64px 0;
}

.bgcolor-075 {
  background-color: rgba(240, 240, 240, 0.725);
}

.cursor-pointer {
  cursor: pointer;
}

.transition-02 {
  transition: 0.2s linear;
}

#yourstyle-item:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

#yourstyle-item a {
  color: #111;
}

#yourstyle-item:hover a {
  color: #898989;
}

.form {
  padding: 60px 0;
}

.form__wrapper {
  background-color: #eeeeee;
  border-radius: 1em;
  height: 420px;
}

.form__inner {
  padding: 40px;
}








.submit__btn {
  padding: 10px 40px;
  background-color: #f88419;
  color: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  cursor: pointer;

  transition: .2s linear;
}

.submit__btn:hover {
  background-color: #fff;
  border: 2px solid #f88419;
  color: #f88419;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
